.contact {
  background-color: rgb(40, 40, 40);
  color: white;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

#contact{
  margin-top: 2.5rem;
}

.contact__container {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact__left{
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  align-items: center ;
  gap: 16px;
  margin-bottom: 1rem;
}

.contact__title{
  margin-bottom: .5rem;
}

.contact__left span{
  padding-bottom: 3px;
  color: white;
}
.contact__right{
 /* flex-basis: 60%; */
 align-items: center;
 text-align: center;
}

.contact__right form{
  width: 100%;
}


form input, form textarea{
 background-color: #3a3a3a;
 border: 0;
 width: 90%;
 font-family: inherit;
 outline: none;
 padding: .5rem;
 margin: .6rem 0;
 color: white;
 font-size: 1rem;
 border-radius: 4px;
}

.fa-linkedin-in,
.contact .fa-github,
.fa-x-twitter{
  color:rgb(181, 179, 179);
  transition: transform .3s;
  padding: 13px;
}

.fa-linkedin-in:hover,
.contact .fa-github:hover,
.fa-x-twitter:hover {
  color: rgba(255, 73, 73, .9);
  transform: translateY(-2.5px);
}

.fa-paper-plane{
  color: rgba(255, 73, 73, .9);
  margin-right: 15px;
  margin-left: -10px;
  transition: transform .9s all ease;
  z-index: -100;
}

.contact__email{
  display: flex;
}

.contact__email:hover .fa-paper-plane{
  cursor: grabbing;
  animation: slideUpAndRight 2s ease-in-out forwards;
}

.contact__social-icons {
  display: flex;
  justify-content: space-around;
}

.fa-cloud-arrow-down{
font-size: var(--size-reg);
margin-right: 5px;
}

.contact__left-resume {
  display: flex;
  justify-content: center;
}

.contact__resume-button a{
  background-color: rgba(255, 73, 73, .9);
  width: fit-content;
  border: 1px solid rgba(255, 73, 73, .9);
  color: white;
  align-self: center;
  width: fit-content;
  text-decoration: none;
  border-radius: 2px;
  padding: 8px 14px;
}

.contact__resume-button a:hover,
.fa-cloud-arrow-down:hover {
  color: rgb(40, 40, 40);
}

.contact__resume-button a:active,
.fa-cloud-arrow-down:active {
  opacity: .5;
  color: white;
  border: 2px solid white;
}

.contact__submit-button{
  background-color: inherit;
  width: fit-content;
  border: 1px solid rgba(249, 79, 79, 0.9);
  color: white;
  align-self: center;
  width: fit-content;
  border-radius: 2px;
  padding: 2px 14px;
}

.contact__submit-button:hover {
  background-color: rgba(255, 73, 73, .9);
  width: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  align-self: center;
  width: fit-content;
  font-weight: 600;
}

.contact__submit-button:active{
  transform: translateY(6px);
}

#msg {
  color: rgb(247, 213, 127);
  margin-top: 6px;
  display: block;
  font-size: var(--size-xs);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .contact__container {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

/* md */
@media (min-width: 768px) {
   .contact__container {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1288px) {} */

/* 2xL */
/* @media (min-width: 1536px) {}   */
