.hero {
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
bottom: 2rem;
flex-direction: column;
gap: 2em;
/* background-color: rgb(234, 234, 234); */

}

.hero__main {
  display: flex;
  flex-direction: column;
  gap: .8em;  
}

.hero__introduction {
  margin-bottom: 10px;
}

.hero__introduction,
.hero__description { 
  font-size: var(--size-xl);
  color:  rgb(100, 100, 100);
}

.hero__description {
  font-size: var(--size-xl);
}

.hero__firstname,
.hero__lastname {
  font-weight: 500;
  font-size: var(--size-6xl);
  /* font-family: 'Lato', sans-serif; */
  font-family: NY;
}

.hero__lastname {
  position: relative;
  /* left: -4rem; */
}

.hero__big-letter {
  font-size: var(--size-8xl);
  /* font-weight: 100; */
}

.hero__red-i {
  position: relative;
  display: inline-block;
}

.hero__red-i::before,
.hero__red-i::after {
  content: "i";
  opacity: 1;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.hero__red-i::before{
  /* color: rgb(255, 84, 84); */
  clip: rect(auto,auto, .4em, auto);
  
}

.hero__red-i::after {
  clip: rect(.4em, auto, auto, auto);
  
}

.hero__red-i i{
  font: inherit;
  opacity: 0;
  
}

.hero__rightside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}

.hero__work-link {
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  background-color:rgb(255, 84, 84);
  font-weight: 600;
  position: relative;
  opacity: .9;
  border-radius: 8px;
  transition: all .1s cubic-bezier(.075,.82,.165,1);
  box-shadow: 5px 5px 31px -10px #ff0000;
}

.hero__work-link button{
  font-weight: 600 ;
  font-size: var(--size-sm);
}

.hero__work-link:hover {
  animation: slideDiagonally 700ms  forwards;
}

.hero__work-link:hover:active{
  /* animation: slideBack 700ms backwards; */
  padding: 3px;
  transition: all 2000ms ease;
}


/* .hero__work-link::after {
  content: '';
  position: absolute;
  border: 1px solid black;
  width: 100%;
  height: 55px;
  left: 5px;
  top: 5px;
  border-radius: 8px;
}

.hero__work-link:hover::after {
  width: 0%;
  border: 0;
} */




/* xs */
@media (min-width: 475px) {
  .hero {
    bottom: 2rem;
    flex-direction: column;
    gap: 2em;
    }

  .hero__lastname {
    left: 0rem;
  }
  
}

/* sm */
@media (min-width: 640px) {
  .hero {
    flex-direction: row;
  }
 
/* 
  .hero__work-link::after {
    content: '';
    position: absolute;
    border: 1px solid black;
    width: 100%;
    height: 55px;
    left: 5px;
    top: 5px;
    border-radius: 8px;
  } */
  .hero__firstname,
  .hero__lastname {
    font-weight: 500;
    font-size: var(--size-7xl);
  }
  .hero__big-letter {
    font-size: var(--size-10xl);
    font-weight: 500;
  }
}

/* md */
@media (min-width: 768px) {
  .hero__lastname {
    left: 2rem;
  }
  .hero__firstname,
  .hero__lastname {
    font-weight: 500;
    font-size: var(--size-6xl);
  }
  .hero__big-letter {
    font-size: var(--size-8xl);
    font-weight: 900;
  }

}

/* Lg */
@media (min-width: 1024px) {
  .hero {
    bottom: 7rem;
    }
  .hero__lastname {
    left: 3rem;
  }

  
}

/* xL */
@media (min-width: 1288px) {
  .hero__lastname {
    left: 5rem;
  }
}

/* 2xL */
/* @media (min-width: 1536px) {}   */